.bg-Turzo{
    background-color: chartreuse;;
    color: rgb(0, 17, 255);
    text-align: center; 
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    padding: 10px;
    margin: 10px 150px;
    border-radius: 20px;

}